body {
    box-sizing: border-box;
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

h1 {
    color: white;
}

h2 {
    font-family: 'Rubik Burned', cursive;
    text-align: center;
}

.wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.8),  rgba(0, 0, 0, 0.5)), url(./assets/home.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    min-width: 100vw;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.boss-selection-div{
    display: flex;
    flex-direction: row;
    max-width: 33%;
    flex-wrap: wrap;
}


.difficulty-selector-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33%;
}

.arrow {
    transform: rotate(90deg);
    max-width: 30%;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(53deg) brightness(103%) contrast(111%);
    margin: 20px;
}

.arrow:hover {
    transform: rotate(90deg) scale(1.05);
}


.difficulty-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    background-color: rgb(4, 24, 63, 0.5);
    margin: 10px;
    border: 3px solid #555;

}

.difficulty-btn:hover {
    transform: scale(1.05);
}

.deck-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}


.shuffle-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 70px;
    background-color: rgb(4, 24, 63, 0.5);
    margin: 10px; 
    border: 3px solid #555;
}

.shuffle-cards:hover {
    transform: scale(1.05);
}

.game-boss-card {
    border: 2px solid #555;
    max-width: 45%;
    transition: 0.2s;
    margin: 5px;
}

.game-boss-card:hover {
    transform: scale(1.05);
}




.next-card {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 70px;
    background-color: rgb(4, 24, 63);
    margin: 10px; 
    border: 3px solid rgb(4, 72, 4);
}

.next-card:hover {
    transform: scale(1.05);
}

.current-card {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: auto;
    margin: 10px; 
}

.current-card:hover {
    transform: scale(1.25);
}

.current-image {
    width: 100%;
}

.card-count-div {
    display: flex;
    flex-direction: row;
    width: 205px;
    justify-content: center;
    align-items: center;
}

.green-cards1, .green-cards2, .green-cards3 {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 84, 13, 0.4);
    margin: 10px;
}
.brown-cards1, .brown-cards2, .brown-cards3 {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 77, 4, 0.4);
    margin: 10px;
}

.blue-cards1, .blue-cards2, .blue-cards3 {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 47, 199, 0.4);
    margin: 10px;
}



.blocker {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 24, 63, 0.6);
}

.blocker-text {
    color: red;
    font-family: 'Rubik Burned', cursive;
    font-size: 50px;

}

.btn {
    cursor: pointer;
}

.btn:hover {
    box-shadow:
    0px 0px 30px 15px rgb(64, 70, 184, 0.5); /* outer cyan */
}

.reload-btn {
    cursor: pointer;
    transition: transform .2s;
}

.reload-btn:hover {
    transform: scale(1.1);
}